:root {
  --color-orange: rgb(233, 134, 54);
  --color-orange-dark: rgb(223, 128, 51);
  --color-border: rgb(219, 219, 219);
  --color-text: rgb(85, 85, 87);
  --color-text-white: #ffffff;
  --nav-header-background: #464242;
  --action-background: #696767;
  --footer-background: #464242;
  --color-link-light: #979494;
  --color-link-white:aliceblue;
  --color-link-darker: #2c2c2c;
  --background-input-color: #ffffff;
  --color-button-white:#ffffff;
  --background-color-white:#ffff;

  --input-white-color:rgb(221, 221, 221);
}
* {
  outline: none;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
}
body {
  font: 1.6rem Helvetica;
  margin: 0;
  height: 100vh;
}
/* Links  */
.link-detail{
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.3s ease;
  padding: 10px;

  display: flex;
  align-items: center;
}
.header-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 0.8rem;
}
.header-links a {
  text-decoration: none;
  color: var(--color-link-white);
  transition: color 0.3s ease;
  padding: 10px;
}
.Link-Back-Home {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-link-darker);
  background-color: var(--color-text-white);
  transition: all 0.4s ease;
  max-width: 30rem;
  border:none;
}
.Link-Back-Home {
  font-size: 2rem;
}
.Order{

}

.Link-Back-Home:hover {
  color: var(--color-orange);
}
/* -------------------------------- */

.container-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  grid-template-areas:
    "Header"
    "Main"
    "Footer";
}

.Header {
  grid-area: Header;
  background-color: var(--nav-header-background);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: var(--color-text-white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
}
.container-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  margin: 1.2rem 1.2rem;
}
.container-left .brand {
  margin-left: 0.8rem;
}

header .brand {
  color: var(--color-text-white);
}
header .brand a {
  text-decoration: none;
  color: var(--color-link-white);
  font-weight: bold;
  font-size: 2.5rem;
  transition: all .8s ease;
}
header .brand a:hover{
  color: var(--color-orange-dark);
}


.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-container svg {
  margin-left: 0.8rem;
}

.Header button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
  padding: none;
  border: none;
  color: var(--color-button-white);
  cursor: pointer;
  transition: color 0.3s ease;

  margin-top: -0.2rem;
}
.Header button:hover {
  color: var(--color-orange-dark);
}

/* Profile HEADER  */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container span {
  margin-right: 0.8rem;
}
.profile-container .CustomAvatar-image {
  margin: 0;
}

/* ------------------------------ */
/* Register HEADER ICON */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container svg {
  margin-left: 0.8rem;
}
/* FILTER SEACHER */
.filter {
  list-style: none;
  transition: all .5s ease;
  padding: 0;
}
.center-filter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-filter-align{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Search-Container {
  width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease;
}
.Search-Container .Select-Order{
  padding-right: 0.8rem;
}
.Search-Container .Select-Order label{
  
}
.Search-Container .Select-Order select{
  border-radius: 0.8rem ;
  border: solid 0.2rem var(--color-border);
  height: 2.9rem;
  width: 12rem;
  padding: 0 0.8rem;
  
  
}
.Search-Container .Select-Order select option{
  color: #287dd1;
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}
.Search-Container form{
  display: flex;
  align-items: center;
}
.Search-Container form input{
  /* border-radius: 0.8rem; */
  border-radius:0.8rem  0  0 0.8rem ;
  border: solid 0.2rem var(--color-border);
  height: 2.9rem;
  width: 10rem;
  padding: 0 0.8rem;
  transition: all .8s ease-in-out;
}
.Search-Container form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
.Search-Container form input:focus{
  width: 17rem;
}
.Search-Container form button {
  background: none;
  border: none;
  padding: 0.5rem ;
}
/* -------------------------------------------------- */

/* --------------------------- */
.header-links a:hover {
  color: var(--color-orange-dark);
}
.Category-Name {
margin-left: 0.8rem;
}

.sideMenu {
  position: fixed;
  /* Esconde o menu */
  transform: translateX(-30rem);
  width: 30rem;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.sideMenu.open {
  /*Mostra o menu */
  transform: translateX(0);
  background-color: var(--background-color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.sideMenu > h3 {
  align-self: center;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 3.1rem;
}
.Group-Container {
  width: 100%;
}
.Ttitle-Group {
  padding: 0.8rem 0;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 2.1rem;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Ttitle-Group svg {
  margin-left: 0.8rem;
}
.sideMenu ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--footer-background);
}
.sideMenu ul li {
  width: 100%;
  list-style: none;
  line-height: 3.1rem;
  /* background-color: aqua; */
  margin-bottom: 0.8rem;
}
.sideMenu ul li a {
  text-decoration: none;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--color-text-white);
  padding: 0.8rem;
  transition: all 0.4s ease;
}
.sideMenu ul li a:hover {
  color: #c76e6e;
  background-color: #f0efef;
  border-radius: 0.8rem;
  font-weight: bold;
}
.sideMenu button {
  position: absolute;
  background: none;
  border: none;
  top: 0.4rem;
  left: 0.4rem;
  color: crimson;
  font-size: 3rem;
  cursor: pointer;
}
.sideMenu .closeMenu svg {
  margin-top: 0.8rem;
}

.Main {
  grid-area: Main;
  background-color: #e9e9e9f1;
}
.Main .content {
  height: 100%;
  
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--background-color-white);
  border-radius: 0.8rem;
}

.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product li {
  list-style: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  
}
.product1 img {
  max-width: 24rem;
  max-height: 24rem;
  height: 24rem;
  margin-bottom: 0.8rem;
}
.product1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 34rem;
  padding:4rem 0.8rem;
  margin: 0.8rem;
  max-width: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.Container-Card-Footer{
  width: 100%;
}
.product1:hover{
  box-shadow: 0 4px 4px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}

.product-name{
  margin-bottom: 0.8rem;

}
.product-name a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-text);
  transition: all .4s ease;
}
.product-name a:hover {
  color: rgb(236, 140, 60);
}
.product-brand {
  font-size: 1.2rem;
  color: var(--color-text);
}
.product-rating {
  margin-bottom: 1rem;
  margin-bottom: 0.8rem;

  
}
.price {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  
  
}
.Footer {
  color: var(--color-text-white);
  grid-area: Footer;
  background-color: var(--footer-background);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}
.Footer>a{
  color: var(--color-text-white);
  text-decoration: none;
}
.Footer .Link-Github{
  color: var(--color-text-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left:2rem;
}
.Footer .Link-Github a{
  color: var(--color-text-white);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.Footer .Link-Github b{
  margin-right: 0.8rem;
}
/* CHECK LIST */
.Check-Steps {
  display: flex;
  justify-content: center;
  width: 40rem;
  margin: 1rem auto;
  /* width: 100%; */
}
.Check-Steps > div {
  border-top: 0.3rem var(--color-border) solid;
  color: var(--color-text);
  flex: 1;
  padding-top: 1rem;
  transition: all 2s ease;
}
.Check-Steps > div {
}
.Check-Steps > div.active {
  border-top: 0.5rem var(--footer-background) solid;
  color: var(--color-text);
  font-weight: bolder;
  font-size: 1.4rem;
}
.desactive {
  font-weight: lighter;
  color: rgb(159, 160, 161);
}

/* FORM CONTAINER  */
.ContentArea{
  margin:0 auto;
  
  max-width: 40rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Form-Container{
  background-color: var(--background-color-white);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0.8rem;
  padding: 2rem 0.9rem 2rem 0.9rem;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.Form-Container legend{
  margin: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.Form-Container fieldset{
  border: none;
  padding: 0;
  margin-top: 4rem;
}
.Form-Container fieldset label{
  display: block;
  margin-bottom: 0.9rem;
  font-weight: 500;
}
.Form-Container fieldset  .input input{
  padding: 0;
  width: 100%;
  height: 3rem;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.6rem;

}
.Form-Container .Image-Preview {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.Form-Container .Image-Preview img{
  max-width: 20rem;
  max-height: 15rem;
  border-radius: 0.8rem;
}
.Form-Container fieldset .button-create{
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;

  
  height: 4rem;
  font-size: 2rem;
  padding: none;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background 0.3s ease;

  
  
  
  
}

.Form-Container fieldset .Name {
  margin-bottom: 1rem;
}
.Form-Container fieldset .Name input {
  padding-left: 0.8rem;
  width: 97%;
  height: 3rem;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.6rem;
  font-size: 1.6rem;
}

.Form-Container fieldset .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  font-size: 2rem;
  padding: none;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.container-button{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-button span{
  
}
.primary{
  background:var(--color-orange);
  color: aliceblue;
  margin-top:1.2rem;
  margin-bottom: 1.2rem;
}
.Form-Container fieldset .buttons:hover{
  background:var(--color-orange-dark);
}

.secondary{
  margin-top:1.2rem;
  color: var(--color-text);
  text-decoration: none;
  
}
.Header button:hover{
  color: rgb(236, 140, 60);
}

.Form-Container fieldset input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.Form-Container fieldset .links {
  text-decoration: none;

  font-size: 1.6rem;
  color: var(--color-link-light);
  font-weight: bold;
  padding: none;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease;
}
.Form-Container fieldset .links:hover {
  color: var(--color-link-darker);
}
.Form-Container fieldset .button-form label {
  display: block;
  margin-bottom: 0.9rem;
  font-weight: 500;
}

.Form-Container fieldset .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  font-size: 2rem;
  padding: none;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.Form-Container fieldset .button-form input {
  padding-left: 0.8rem;
  margin-bottom: 1rem;
  width: 97%;
  height: 3rem;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.6rem;
  background-color: var(--background-input-color);
  font-size: 1.6rem;
}
.Form-Container fieldset .button-form {
  width: 100%;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  padding: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
/* ------------------------------------------ */

